
<div class="post">
<div class="panel panel-default panel-custom">
	<div class="panel-heading">
	<% @company_decorator = CompanyDecorator.new(company)%>
		<h4><%= company.name %> || 
				Total operations:	<%= @company_decorator.number_of_operations %> ||
				Average Amount : <%= @company_decorator.average_of_amount %> ||
				Highest of Month: <%= @company_decorator.highest_of_month%> ||
				Accepted Operations: <%= @company_decorator.accepted_operations%>
		</h4>
		<%= link_to "CSV", "/operation_csv.csv?company_id=#{company.id}&filter=#{@filter} " %>
		<%= link_to "Operations", company_path(company, filter: @filter), remote: true%>
		, Filter:	
		<%if @filter.present? %>
			<%=@filter%>
		<%else%>
			None
		<%end%>	
			


	</div>	
	
	<div id = "operations_<%= company.id%>">

	</div>
		

	</div>
	</div>

