<div class="table-responsive">
<table class="table ">
	<thead>
	  <tr>
	  	<%(Operation.column_names - ["company_id", "created_at", "updated_at"]).each do |head|%>
		  	<th>
		  		<%= head%>
		  	</th>
	  	<%end%>
	  </tr>
	<thead>
	<tbody> 
		<% @operations.each do |operation| %>
		<tr>	
			<td><%= operation.id%> </td>
			<td><%= operation.invoice_num%></td>
			<td><%= operation.invoice_date%></td>
			<td><%= operation.operation_date%></td>
			<td><%= operation.amount%></td>			
			<td><%= operation.reporter%></td>
			<td><%= operation.notes %></td>
			<td><%= operation.status%></td>				
			<td><%= operation.kind %></td>		
		</tr>	 
		<%end%>
		<tr><td>
			<% if @operations.empty?%>
				There is no operation in this company for given filter.
			<%end%>
		</td></tr>

	</tbody> 	
</table>	
</div>
<%= paginate @operations, :remote => true %>