<div id="posts">
	<% if flash[:notice] %>
	    <div class="alert alert-danger"><%= flash[:notice] %></div>
	<% end %>

	<%= form_for @operations do |f| %>
	 	 

	  <%= f.file_field :file, :required => 'required', class: "upload-form"%>
	  <%= f.submit "upload file", class: 'btn btn-danger filter-text' %>
	<% end -%>
  


	<%= form_tag( '/companies', :method => :get ) do %>
		<%= text_field_tag :filter, nil, placeholder: "id, reporter, status, invoice_num, kind", class: 'filter-text' %>
		<%= submit_tag "Filter", class: "btn btn-primary"%>
			<%= link_to "Clear Filter", companies_path, class: "btn btn-success"%>
	<% end %>	


	<div class="page">
	  <%= render @companies %>
	</div>
</div>
